/* media-query.css */
body {
  font-family: 'Roboto', sans-serif;
}

header {
  text-align: center; /* Centra el texto del encabezado */
}

main, footer {
  max-width: 640px;
  margin: 1rem auto;
  border: 1px solid #bbb;
  padding: 1rem;
  background-color: #d3dee9;
  border-radius: 5px; /* Añadimos bordes redondeados */
}

main {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 1rem;
}

section {
  padding: 1rem;
  background-color: #fff;
  border-radius: 5px; /* Añadimos bordes redondeados */
}

@media screen and (min-width: 500px) {
  header, main, footer {
    max-width: none;
  }
}

  