@media screen and (min-width: 500px) {
    body {
      background-color: rgb(239, 223, 223);
      color: rgb(85, 54, 80);
    }
  
    main {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-gap: 1rem;
    }
  
    section {
      background-color: #e58ef5; /* Moradito */
      padding: 1rem;
      color: rgb(21, 20, 21);
      border-radius: 5px; /* Añadimos bordes redondeados */
    }
  
    footer {
      background-color: #9c27b0; /* Moradito */
      padding: 1rem;
      color: white;
      border-radius: 5px; /* Añadimos bordes redondeados */
    }
  }
  
  