body,
h1,
h2,
ul,
li,
a,
p,
img {
    margin: 0;
    padding: 0;
}

html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1;
    margin: 0 auto; /* Corregido */
    max-width: 100%; /* Removido el duplicado */
}

header {
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    padding: 10px 0; /* Corregido */
    background-color: #901010;
    color: #fff;
    flex-direction: row;
}

.chamber-title {
    font-size: 18px; 
    margin: 10px 50px; /* Corregido */
}

.logo-container {
    display: flex;
    align-items: center;
    padding: 10px; 
}

.logo {
    margin-right: auto; 
}

.logo img {
    max-width: 150px; 
    height: auto;
}

.social-icons-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.social-icons {
    display: flex;
    justify-content: center;
}

.social-icon {
    width: 50px; 
    height: 50px; 
    margin: 20px; 
}

.info {
    margin-top: 20px; 
}

nav {
    width: 300px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline-block;
    margin-right: 20px;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
    font-size: 18px;
}

nav ul li:last-child {
    margin-right: auto; 
}

nav ul li a {
    text-decoration: none;
    color: #fff;
    font-size: 20px;
}

.nav-container {
    background-color: #a69b80;
    width: 100%;
    align-items: center;
}

.main {
    padding: 20px;
}

.hero {
    position: relative;
}

.hero img {
    width: 100%;
    height: auto;
}

.join-box {
    position: absolute;
    top: 25%;
    left: 25%;
    transform: translate(-50%, -50%);
    font-size: 20px;
}

.join-link {
    background-color: rgba(238, 239, 245, 0.758); 
    color: #333; 
    padding: 10px 20px;
    font-weight: bold; /* Corregido */
    border-radius: 5px;
    transition: background-color 0.3s ease; 
}

.join-link:hover {
    background-color: rgba(250, 8, 8, 0.8); 
    font-size: larger;
    color: #fff;
}

footer {
    background-color: #901010;
    color: #fff;
    padding: 20px;
    text-align: center;
    line-height: 1.5; 
}

.contact-info,
.dev-info {
    margin-bottom: 20px; 
}

.event-container {
    display: flex;
    justify-content: space-around; 
    flex-wrap: wrap; 
}

.event {
    width: calc(50% - 20px); 
    margin: 0 10px 20px 10px; 
    background-color: #f0f0f0;
    padding: 10px;
    border-radius: 5px;
    box-sizing: border-box;
    display: flex; 
    flex-direction: column; 
    align-items: center; 
}

.event-title {
    text-align: center;
}

.image-container {
    text-align: center;
}

.image-container img {
    max-width: 100%; 
    height: auto;
}

.event img {
    max-width: 100%; 
    height: auto; 
    max-height: 150px; 
}

.current-events {
    width: 100%;
    text-align: center; 
}

.event-weather-container {
    border: 2px solid #ccc; 
    border-radius: 5px; 
    background-color: #f9f9f9; 
    padding: 20px; 
    margin-top: 20px; 
}

.events {
    flex: 1; 
    margin-right: 10px; 
}

.weather,
.spotlights {
    flex-basis: calc(50% - 10px); 
    margin-left: 10px; 
}

.weather,
.spotlights {
    padding: 10px; 
    border-radius: 5px; 
}

.spotlight-container {
    display: flex; 
}

.spotlight {
    flex: 1; 
    margin-right: 10px; 
}

.weather-spotlights-container {
    display: flex; 
    justify-content: space-between; 
}

.weather,
.spotlights {
    flex: 0 0 calc(50% - 20px); 
    max-width: calc(50% - 20px); 
    border: 2px solid #ccc; 
    border-radius: 5px; 
    background-color: #f9f9f9; 
    padding: 10px; 
    margin-bottom: 20px; 
}

.close-btn {
    display: none;
}

.hamburger {
    font-size: 24px;
    cursor: pointer;
}

.desktop-menu {
    display: flex;
    align-items: center;
}

.desktop-menu .menu {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.desktop-menu .menu li {
    margin-right: 20px;
}

.desktop-menu .menu li:last-child {
    margin-right: 0;
}

.desktop-menu .menu li a {
    color: #fff;
    text-decoration: none;
    font-size: 16px;
    padding: 10px 15px;
    display: inline-block;
}

.desktop-menu .menu li a:hover {
    background-color: #e9c19a;
}

.mobile-menu {
    display: none;
}

@media screen and (max-width: 768px) {
    .mobile-menu {
        display: block;
        position: absolute;
        top: 0;
        right: 20px; 
    }

    .hamburger {
        display: flex;
        font-size: 24px;
        cursor: pointer;
        align-items: center;
    }

    .menu {
        display: none;
        position: absolute;
        top: 50px; 
        right: 0;
        background-color: #f6820d; 
        padding: 20px;
        border-radius: 5px;
    }

    .menu li {
        margin-bottom: 10px;
    }

    .menu li a {
        color: #fff;
        text-decoration: none;
        font-size: 16px;
    }

    .menu li a:hover {
        background-color: #e9c19a;
    }

    .desktop-menu {
        display: none;
    }

    .event-weather-container {
        display: flex;
        flex-direction: column; 
        align-items: center; 
    }
    
    .weather-spotlights-container {
        display: flex;
        flex-direction: column; 
        align-items: center; 
        width: 100%; 
    }
    .event-container {
        flex-direction: column;
        align-items: center;
    }

    .event {
        width: 100%; 
        margin: 0 0 20px 0; 
    }
    
    .spotlight-container {
        flex-direction: column;
        align-items: center;
    }

    .spotlight {
        width: 100%; 
        margin: 0 0 20px 0; 
    }

}

@media (min-width: 769px) {
    .desktop-menu {
        display: block;
    }

    .menu {
        display: block;
    }

    .mobile-menu {
        display: flex;
    }
    .hamburger {
        display: none;
    }  
}

.hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
}
