body,
h1,
h2,
ul,
li,
a,
p,
img {
    margin: 0;
    padding: 0;
}

html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1;
    margin: 0 auto; /* Corregido */
    max-width: 100%; /* Removido el duplicado */
}

header {
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    padding: 10px 0; /* Corregido */
    background-color: #901010;
    color: #fff;
    flex-direction: row;
}

.chamber-title {
    font-size: 18px; 
    margin: 10px 50px; /* Corregido */
}

.logo-container {
    display: flex;
    align-items: center;
    padding: 10px; 
}

.logo {
    margin-right: auto; 
}

.logo img {
    max-width: 150px; 
    height: auto;
}

.social-icons-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.social-icons {
    display: flex;
    justify-content: center;
}

.social-icon {
    width: 50px; 
    height: 50px; 
    margin: 20px; 
}

.info {
    margin-top: 20px; 
}

nav {
    width: 300px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline-block;
    margin-right: 20px;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
    font-size: 18px;
}

nav ul li:last-child {
    margin-right: auto; 
}

nav ul li a {
    text-decoration: none;
    color: #fff;
    font-size: 20px;
}

.nav-container {
    background-color: #a69b80;
    width: 100%;
    align-items: center;
}

.main {
    display: grid;
    grid-template-columns: 250px 1fr; /* Sidebar takes 250px, main content takes the rest */
    grid-gap: 20px;
}

.hero {
    position: relative;
}

.hero img {
    width: 100%;
    height: auto;
}

.join-box {
    position: absolute;
    top: 25%;
    left: 25%;
    transform: translate(-50%, -50%);
    font-size: 20px;
}

.join-link {
    background-color: rgba(238, 239, 245, 0.758); 
    color: #333; 
    padding: 10px 20px;
    font-weight: bold; 
    border-radius: 5px;
    transition: background-color 0.3s ease; 
}

.join-link:hover {
    background-color: rgba(250, 8, 8, 0.8); 
    font-size: larger;
    color: #fff;
}

footer {
    background-color: #901010;
    color: #fff;
    padding: 20px;
    text-align: center;
    line-height: 1.5; 
}

.contact-info,
.dev-info {
    margin-bottom: 20px; 
}

.event-container {
    display: flex;
    justify-content: space-around; 
    flex-wrap: wrap; 
}

.event {
    width: calc(50% - 20px); 
    margin: 0 10px 20px 10px; 
    background-color: #f0f0f0;
    padding: 10px;
    border-radius: 5px;
    box-sizing: border-box;
    display: flex; 
    flex-direction: column; 
    align-items: center; 
}

.event-title {
    text-align: center;
}

.image-container {
    text-align: center;
}

.image-container img {
    max-width: 100%; 
    height: auto;
}

.event img {
    max-width: 100%; 
    height: auto; 
    max-height: 150px; 
}

.current-events {
    width: 100%;
    text-align: center; 
}

.event-weather-container {
    border: 2px solid #ccc; 
    border-radius: 5px; 
    background-color: #f9f9f9; 
    padding: 20px; 
    margin-top: 20px; 
}

.events {
    flex: 1; 
    margin-right: 10px; 
}

.weather,
.spotlights {
    flex-basis: calc(50% - 10px); 
    margin-left: 10px; 
}

.weather,
.spotlights {
    padding: 10px; 
    border-radius: 5px; 
}

.spotlight-container {
    display: flex; 
}

.spotlight {
    flex: 1; 
    margin-right: 10px; 
}

.weather-spotlights-container {
    display: flex; 
    justify-content: space-between; 
}

.weather,
.spotlights {
    flex: 0 0 calc(50% - 20px); 
    max-width: calc(50% - 20px); 
    border: 2px solid #ccc; 
    border-radius: 5px; 
    background-color: #f9f9f9; 
    padding: 10px; 
    margin-bottom: 20px; 
}

.close-btn {
    display: none;
}

.hamburger {
    font-size: 24px;
    cursor: pointer;
}

.desktop-menu {
    display: flex;
    align-items: center;
}

.desktop-menu .menu {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.desktop-menu .menu li {
    margin-right: 20px;
}

.desktop-menu .menu li:last-child {
    margin-right: 0;
}

.desktop-menu .menu li a {
    color: #fff;
    text-decoration: none;
    font-size: 16px;
    padding: 10px 15px;
    display: inline-block;
}

.desktop-menu .menu li a:hover {
    background-color: #e9c19a;
}

.mobile-menu {
    display: none;
}

@media screen and (max-width: 768px) {
    .mobile-menu {
        display: block;
        position: absolute;
        top: 0;
        right: 20px; 
    }

    .hamburger {
        display: flex;
        font-size: 24px;
        cursor: pointer;
        align-items: center;
    }

    .menu {
        display: none;
        position: absolute;
        top: 50px; 
        right: 0;
        background-color: #f6820d; 
        padding: 20px;
        border-radius: 5px;
    }

    .menu li {
        margin-bottom: 10px;
    }

    .menu li a {
        color: #fff;
        text-decoration: none;
        font-size: 16px;
    }

    .menu li a:hover {
        background-color: #e9c19a;
    }

    .desktop-menu {
        display: none;
    }

    .event-weather-container {
        display: flex;
        flex-direction: column; 
        align-items: center; 
    }
    
    .weather-spotlights-container {
        display: flex;
        flex-direction: column; 
        align-items: center; 
        width: 100%; 
    }
    .event-container {
        flex-direction: column;
        align-items: center;
    }
    
    .event {
        width: 100%; 
        margin: 0 0 20px 0; 
    }
    
    .spotlight-container {
        flex-direction: column;
        align-items: center;
    }
    
    .spotlight {
        width: 100%; 
        margin: 0 0 20px 0; 
    }
    .my-grid-container {
        display: block;
    }
    .photo img {
        opacity: 1; /* Restablecer la opacidad */
        transition: none; /* Anular la transición */
    }   
}

.hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
}

.my-grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
    position: relative;
}



.info-box {
    padding: 20px;
    border-radius: 5px;
    border-bottom: 1px solid #ccc;
    border-left: 0;
}

.photos-column {
    display: flex;
    flex-direction: column; 
    gap: 10px; 
    padding-left: 20px;
}

.photo {
    margin-bottom: 10px;
    max-width: 200%; 
    margin-left: auto; 
    margin-right: auto;
}


.hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
}

.info-column {
    display: flex;
    flex-direction: column;
    gap: 20px;
    border-right: 1px solid #ccc; 
    padding-right: 20px;
    margin-left: 100px;
    height: 100%;
}
.info-box {
    padding: 20px;
    border-radius: 5px;
    border-bottom: 1px solid #ccc;
    border-left: 0;
}
  
.photo {
    margin-bottom: 10px;
    max-width: 200%; 
    margin-left: auto; 
    margin-right: auto;
}
  

.photo:hover img,
.photo:hover p {
     /* Estilos de la imagen y el subtítulo cuando se hace hover sobre la clase .photo */
    transform: scale(1.1); /* Aumenta el tamaño */
    transition: transform 0.5s ease; /* Transición suave */
}
.photo p{
    /* Estilos del subtítulo */
    font-size: 20px;
    color: #9c0a0a;
    text-align: center;
    /* Agregar sombreado */
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Sombreado con desplazamiento X de 2px, desplazamiento Y de 2px, difuminado de 4px y opacidad del 50% */
    padding: 5px; /* Añadir espacio interno para que el sombreado no se superponga con el texto */
}
  
.photo img {
    max-width: 100%; 
    height: auto;
    margin-top: 10%;
    opacity: 1;
    transition: opacity 5s ease; 
  }
  .photo img.hidden {
    opacity: 0; /* Cambia la opacidad a 0 cuando están fuera de la vista */
}
  
@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
  }
.photo img.hidden {
    opacity: 0;
  }
  
#calendar-image {
    width: 500px;
    height: auto;
  }
#currentDate {
    font-size: 16px;
    color: #333;
  }
  
.description {
    font-size: 16px; 
    color: #666; 
  }
  
.weather-icon {
    width: 50px; 
    height: 50px; 
    margin-top: 10px; 
  }
  
.sidebar-content {
     /* Estilos generales del sidebar */
    margin-top: 20px; /* Espacio superior */
    padding: 10px; /* Espaciado interno */
    background-color: #ee6e05; /* Color de fondo */
    border: 1px solid #ccc; /* Borde */
    text-align: center; /* Centrar horizontalmente el texto */
    font-size: 24px; /* Tamaño de letra grande */
    color: #1a1a1a;
  }
  
.sidebar-message-box {
    font-size: 24px; /* Tamaño de letra grande */
    text-align: center; /* Centrar horizontalmente el texto */
    margin-top: 10px; /* Espacio superior */
    padding: 10px; /* Espaciado interno */
    background-color: #f0f0f0; /* Color de fondo */
    border: 1px solid #ccc; /* Borde */
  }


#calendar-container {
    width: 100%; /* Ajusta el ancho según sea necesario */
    height: 300px; /* Establece la altura deseada para el calendario */
    border: 1px solid #ccc; /* Agrega un borde para mayor claridad */
    /* Otros estilos según tu diseño */
}
.info-box {
    /* Estilos generales de tu info box */
    line-height: 1.5; /* Ajusta el espaciado entre líneas según tu preferencia */
}

.info-box ul {
    list-style-type: none; /* Elimina las viñetas de la lista */
}
.lazy-image {
    opacity: 0;
    transition: opacity 0.5s ease; /* Transición de opacidad gradual */
}
.lazy-image.first {
    opacity: 0;
    transition: opacity 2s ease; /* Transición de opacidad gradual */
}