body,
h1,
h2,
ul,
li,
a,
p,
img {
    margin: 0;
    padding: 0;
}

/* Box sizing */
html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

/* Body styles */
body {
    font-family: 'Roboto', sans-serif;
    line-height: 1.6;
    background-color: #f2f2f2;
    color: #562407;
}

/* Header styles */
header {
    text-align: center;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

header img {
    border-radius: 50%;
    margin-bottom: 10px;
}

.header-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header-content {
  display: flex;
  flex-direction: column;
  align-items: center; 
}

.header-info {
  margin-bottom: 10px; 
}

.name {
  font-size: 2em;
    font-weight: bold;
    color: #333;
}

h1 {
  text-align: center; 
  border: none; 
  padding: 10px; 
  margin: 20px auto; 
  margin-bottom: 20px; 
  max-width: 400px; 
  box-sizing: border-box; 
  text-decoration: none;
}

/* Navigation styles */
nav {
  background-color: #79715c;
  display: flex;
  padding: 10px 0;
}

.nav-container {
  background-color: #79715c;
  width: 100%; 
}

nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  width: 100%;
  justify-content: space-around;
}

nav li {
  display: block;
}

nav a {
  color: #fff;
  text-decoration: none;
  padding: 10px;
}

nav a:hover {
  background-color: #555;
}

/* Main styles */
main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

section {
    margin-bottom: 25px;
}

.card {
    background-color: #efece5;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 100%;
}

.course-title {
  text-align: center; 
  margin-bottom: 20px; 
}

.activity-information-container {
  display: flex; 
  flex-direction: column; 
  align-items: center; 
}

.activity, .information {
  width: 200%; 
  max-width: 1000px; 
  margin-bottom: 20px; 
}

@media (min-width: 350px) {
  .activity-information-container {
      flex-direction: column; 
  }
  .activity, .information {
      width: 100%; 
      max-width: none; 
  }
}
  
/* Footer styles */
footer {
    text-align: center;
    padding: 20px;
    background-color: #7c6d50;
    color: #fff;
}

footer img {
    vertical-align: middle;
    margin-left: 10px;
}