body,
h1,
h2,
ul,
li,
a,
p,
img {
    margin: 0;
    padding: 0;
}

html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    font-family: 'Roboto', sans-serif;
    line-height: 1.6;
    background-color: #f2f2f2;
    color: #562407;
}

header {
    text-align: center;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

header img {
    border-radius: 50%;
    margin-bottom: 10px;
}

.header-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.header-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header-info {
    margin-bottom: 10px;
}

.name {
    font-size: 2em;
    font-weight: bold;

}

h1 {
    text-align: center;
    border: none;
    padding: 10px;
    margin: 20px auto;
    margin-bottom: 20px;
    max-width: 400px;
    box-sizing: border-box;
    text-decoration: none;
}

/* Navigation styles */
nav {
    background-color: #a69b80;
    display: flex;
    justify-content: center;
    padding: 0px 0;
}

.nav-container {
    background-color: #a69b80;
    width: 100%;
}

.menu {
  padding: 20px 0; 
  text-align: center;
}

.menu li {
    display: inline-block;
    margin-right: 20px;
    text-align: center;
}

.menu li:last-child {
    margin-right: 0;
}

.menu li a {
    color: rgb(252, 245, 245);
    text-decoration: none;
    padding: 10px 15px;
    display: inline-block;
}

.menu li a:hover {
    background-color: #e9c19a;
}

/* Main styles */
main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

section {
    margin-bottom: 25px;
}

/* Footer styles */
footer {
  text-align: center;
  padding: 20px;
  background-color: #7c6d50;
  color: #fff;
}

footer img {
  vertical-align: middle;
  margin-left: 10px;
}

.activity-information-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; 
}

.activity, .information {
    flex-basis: calc(50% - 20px); 
    background-color: #e0e0e0;
    padding: 20px;
    margin: 10px;
    box-sizing: border-box;
    margin-bottom: 50px;
}

.activity {
    background-color: #f4ede0;
    padding: 20px;
    text-align: center;
    font-size: 1.2em;
}

.information {
    background-color: #f4ede0;
    padding: 20px;
    text-align: center;
    font-size: 1.2em;
    color: #562407;
}

.activity h2, .information h2 {
    font-size: 24px;
    color: #562407; 
}

.activity a, .information a {
    font-size: 22px;
}

.close-btn {
    display: none;
}

.hamburger {
  font-size: 24px;
  cursor: pointer;
}


.desktop-menu {
  display: flex;
}

.desktop-menu .menu {
  margin-right: 20px;
  display: inline-block; 
}

.desktop-menu .menu {
  display: block;
}

.desktop-menu .menu li {
  margin-right: 20px; 
}

.desktop-menu .menu li:last-child {
  margin-right: 0; 
}

.menu {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: none;
}

.menu li {
  margin-bottom: 10px;
}
.menu li a {
  color: #000; 
  text-decoration: none;
  font-size: 16px;
}

.desktop-menu .menu li a {
  color: #fff; 
  padding: 10px 15px; 
  display: inline-block; 
}

.menu li a:hover {
  background-color: #e9c19a;
}
.mobile-menu {
  display: flex;
  align-items: center;
}

.mobile-menu .menu {
  display: none;
}

.mobile-menu .hamburger {
  font-size: 24px;
  cursor: pointer;
  align-items: center;
}

.mobile-menu .menu {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.mobile-menu .menu li {
  margin-bottom: 10px;
}


@media screen and (max-width: 768px) {
  .desktop-menu {
    display: none; 
  }

  .mobile-menu .menu {
    display: block; 
  }

  .menu li {
    text-align: center;
    display: block;
    margin-bottom: 10px;
  }

  .menu li:last-child {
    margin-bottom: 0;
  }

  .menu li a {
    display: block;
  }

  .activity, .information {
    flex-basis: 100%;
    margin: 10px;
    box-sizing: border-box;
  }

}

@media (min-width: 769px) {
  .desktop-menu {
    display: block;
  }

  .menu {
    display: block;
  }

  .mobile-menu {
    display: flex;
  }
  .hamburger {
    display: none;
  }  
}

body.dark-mode {
  background-color: #1a1a1a;
  color: #ffffff; 
}



